<!DOCTYPE html>
<html>
  <head>
    <title>Video Chat</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="./style.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/webrtc-adapter/6.3.2/adapter.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.2/socket.io.min.js"></script>
    <script src="./client.js"></script>
  </head>
  <body>
    <div class="container container-fluid">
      <header>
        <h1><a href="/">vchat</a></h1>
        <h2><a href="/">a simple video chat app</a></h2>
        <p>Video will automatically connect when two people are in the room</p>
      </header>
      <video id="yourVideo" autoplay muted>Stream unavailable</video>
      <video id="friendsVideo" autoplay>Stream unavailable</video>
      <br />
      <button onclick="newRoom()" type="button" class="btn btn-primary btn-lg">Choose a different room</button>
    </div>
  </body>
</html>